# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/

# Distribution artifacts
dist/
build/
*.egg-info/

# Testing & coverage
.coverage
htmlcov/
*.cover
.tox/
.mypy_cache/
.pytest_cache/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs & Misc
*.log
.DS_Store
